/.vs
/packages
/QuizApi/bin
/QuizApi/obj
/WebQuiz/bin
/WebQuiz/obj
/WebQuiz/node_modules
/QuizService/bin
/QuizService/obj
/QuizCommon/bin/Debug
/QuizCommon/obj/Debug
/QuizTests/obj/Debug
/QuizTests/bin/Debug
