@{
    Layout = null;
}
<h3>Profile Component</h3>
<div class="panel panel-default">
    <div class="panel-heading">Search</div>

    <div class="panel-body">
        <div class="form-group">
            <label for="txtCountry">Country:</label>
            <input id="txtCountry" type="text" [ngModel]="country" (ngModelChange)="valuechange($event)" />
        </div>
        <div class="form-group">
            <label for="txtCities">Citys:</label>
            <select id="txtCities" (change)="selectCities($event.target.value)">
                <option *ngFor="let value of cities" (click)="selectCities(value)">
                    {{value}}
            </select>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Current Weather</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="txtLocation">Location:</label>
            <span id="txtLocation">{{weather?.Location}}</span>
        </div>
        <div class="form-group">
            <label for="txtTime">Time:</label>
            <span id="txtTime">{{weather?.Time}}</span>
        </div>
        <div class="form-group">
            <label for="txtWind">Wind:</label>
            <span id="txtWind">{{weather?.Wind }}</span>
        </div>
        <div class="form-group">
            <label for="txtVisibility">Visibility:</label>
            <span id="txtVisibility">{{weather?.Visibility }}</span>
        </div>
        <div class="form-group">
            <label for="txtSkyConditions">Sky Conditions:</label>
            <span id="txtSkyConditions">{{weather?.SkyConditions }}</span>
        </div>
        <div class="form-group">
            <label for="txtTemparature">Temparature:</label>
            <span id="txtTemparature">{{weather?.Temparature }}</span>
        </div>
        <div class="form-group">
            <label for="txtDewPoint">DewPoint:</label>
            <span id="txtDewPoint">{{weather?.DewPoint }}</span>
        </div>
        <div class="form-group">
            <label for="txtRelativeHumidity">RelativeHumidity:</label>
            <span id="txtRelativeHumidity">{{weather?.RelativeHumidity }}</span>
        </div>
        <div class="form-group">
            <label for="txtPressure">Pressure:</label>
            <span id="txtPressure">{{weather?.Pressure }}</span>
        </div>
        <div class="form-group">
            <label for="txtStatus">Status:</label>
            <span id="txtStatus">{{weather?.Status }}</span>
        </div>
    </div>
</div>
