<table class="table table-striped">
    <thead>
        <tr>
            <td *ngFor="let col of columns"><a (click)="sort(col.name)">{{col.descr}}</a>
          <div *ngIf="col.filter">
              <input type="text" name="{{col.name}}" [(ngModel)]="filter[col.name]" placeholder="{{col.descr}}">
          </div>
            </td>
        </tr>
      
    </thead>
    <tbody>
        <tr *ngFor="let row of rows|itemfilter:filter">
            <td *ngFor="let col of columns">{{row[col.name]}}</td>
        </tr>
    </tbody>
</table>